
body
{
font-family: "Raleway", sans-serif;
color: black;
max-width: 1440px;
width: 1080px;
margin: 0 auto;
font-size: 0.95em;
text-decoration: none;
}

.inscire
{
	color: #0065fc;
	font-weight: bold;
}

 li span
 {
	 font-weight: bold;
 }

 .imageFiltre 
 {
    color: #0065FC;
    BACKGROUND-COLOR: #f2f2f2;
    border-radius: 50px;
    margin-right: 20px;
 }

nav
{
	display: flex;
	justify-content: space-between;
	align-items: center
}


nav img
{
	height: 80px;
}
#filtres
 {
    display: flex;
    justify-content: space-between;
	align-items: center;
	margin-right: 243px;
}

.barreFiltres
 {
    display: flex;
    align-items: center;
	height: 40px;

}

.eco
 {
    justify-content: center;
    display: flex;
    border: solid 2px #f2f2f2;
    border-radius: 50px;
}

.famille {

    justify-content: center;
    display: flex;
    border: solid 2px #f2f2f2;
    border-radius: 50px;
    width: 124px;
}
.romantique {
    display: flex;
    justify-content: center;
    border: solid 2px #f2f2f2;
    border-radius: 50px;
}
.animaux
 {
    display: flex;
    justify-content: center;
    border: solid 2px #f2f2f2;
    border-radius: 50px;
}


h3.logements_dispo
{
	font-size: smaller;
}

.imageFiltre {
    margin: 0px;
    background-color: lightgrey;
    border-radius: 50px;
	padding: 13px;
}
span.titre
 {
    font-weight: bold;
    margin: 15px;
 }

.fa
{
	color: gainsboro;
}

.fas
{
	color: #0065fc;
}


a 
{
	text-decoration: none;
	margin:20px;

}

h1
{
	font-size: 1.3em;	
}

nav ul
{	
	display: flex;
	list-style: none;
	justify-content: space-between;
	color: #0065fc;
}

nav li
{
	margin: 20px;
}

.hebergementsListe
{
	display: flex;
}

.hebergementsListe .description
{
	padding: 0 0 8px 10px;
}


.hebergementsListe p,.hebergementsListe h3
{
	margin: 5px 0;
}

.headernav
{
	display: flex;
	margin-right: 3%;
	display: flex;
	margin-right: 3%;

}
.hotelsmarseille
{
	display: flex;
}

.marseille_france button
{
background-color: #0065fc;
color: white;
height: 100%;
border-radius: 0 15px 15px 00;
margin-left: -40px;  
width: 100px;

}

.hebergementsListe
{
	align-items: center;
    justify-content: space-between;
	flex-wrap: wrap;
	display: flex;
	width: 700px;
  	margin-left: -38px;
}

.hebergementsListe article
{
	width: 30%;
	background-color: white;
	border-radius: 15px;
	margin: 10px;
	padding-left: 3px;
	margin-left: 0px;
}



.a-propos
{
display: flex;
align-items: center;
}

p
{
font-size: small;
}

.filtres

{
	width: 60%;
	padding: 20px;
	font-weight: bold;
	justify-content: space-between ;
	display: flex;
	margin-left: 25px;
	height: 47px;
	display: flex;
	align-items: stretch;
	margin-left: 25px;
	font-weight: bold;
	border-radius: 12px;
}

header ul li a:hover
{
	border-top: 2px solid #0065fc;
	padding-top: 21px;
	color: #0065fc;
}




.logo 
{
	cursor: pointer;
}

#contener
{
display: flex;
justify-content: space-around;
align-content: stretch;
margin: auto;
}

.nos_hebergements
{
	width: 35%;
}

.assistance
{
	width: 31%;
	margin-top: 0;
	padding-left: 2px;
	
}
.hebergements_marseille
{
	image-resolution: 4px;
	text-align: justify;
	flex: 2;
}
	
#hebergements-marseille

{
	height: 545px;
	width: 68%;	
	background-color: #f2f2f2;
	border-radius: 15px;
	padding-top: 50px;
	padding-left: 70px;
	padding-right: 5px;
	margin-top: 0px;
}
#hebergements-marseille h2
{
	margin-bottom: 10px;
	margin-top: -15px;
	margin-left: -35px;
}

.boutonrecherche
{
	border-radius: 0px 18px 18px 0;
	padding: 15px;
	background-color: #0065fc;
	color: white;
	position: relative;
	right: 43px;
}


#hebergements
{
	width: 94%;
	display: flex;
	justify-content: space-between;
	
}
.hebergementsListe img
{
	height: 100px;
	width: 99%;
	object-fit: cover;
	border-radius: 15px 15px 00 00;

	padding-top: 3px;
}

article img
{
	width: 99%;
	padding-top: 3px;
}

#les-plus-populaires
{
	flex: 1;
	margin-left: 18px;
	background-color: #f2f2f2;
	border-radius: 15px;
	margin-right: -64px;
	padding-left: 7px;
	height: 600px;
}

#les-plus-populaires img
{
	height: 123px;
	width: 100px;
	float: left;
	border-radius: 10px 00 00 10px;
	margin-top: -6px;
	margin-right: 20px;
	margin-left: -2px;
}
#les-plus-populaires article
{
	background-color:white ;
	border-radius: 15px;
	height: 122px;
	margin-left: 5px;
	padding-top: 5px;
	padding-left: 5px;
	margin-bottom: 25px;
	width: 93%;
}

.description_populaires
{
	display: flex;
}

#trois_populaires img
{
	border-radius: 10px 00 00 10px;
	height: 115px;
}

#les-plus-populaires h2
{
	margin-top: 40px;
    margin-bottom: -37px;
	margin-left: 6px;
}

#les-plus-populaires aside
{
	height: 650px;	
}

#Acivités_à_Marseille
{
	background-color: white;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-bottom: 60px;
	max-width: 1350px;
}

.nom_activites
{
	margin-bottom: 27px;
	font-size: large;
}

.activites
{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
}

.activite2et3
.activite5et6
{
display: flex;
flex-direction: column;
}

.activite1,
.activite2,
.activite3,
.activite4,
.activite5,
.activite6
{
	box-shadow: 0 0 20px #0000002e;
	border-radius: 20px;
}

.photo_activite1,
{
	width: 100px;
	height: 300px;
	background-size: 100% 100%;
	border-left-radius: 10px;
	border-right-radius: 10px;
	padding: 0px 0px 22px 0px;
}

.photo_activite2,
.photo_activite3,
.photo_activite4,
.photo_activite5,
.photo_activite6
{
	background-size: 100% 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 0px 0px 22px 0px;
}

.photo_activite01,
.photo_activite02,
.photo_activite03,
.photo_activite04,
.photo_activite05,
.photo_activite06
{
	object-fit: cover;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 100px;
	width: 200px;
}




.activite
{
	width: 23%;
}

#Activités_à_Marseille h1
{
	font-size: large;
}

.liste-populaires h3
{
	margin-top: 10px;
}


.liste-populaires p
{
	margin-top: -15px;
}
.populaires_symbole {
    display: flex;
    justify-content: flex-start;
}

h3
{
font-size: inherit;
}

.liste-populaires
{
	margin-top: 55px;
}

.nombre_etoile
 {
    font-size: 0.7em;
    padding-top: 29px;
}





.nombre_etoiles
{
	font-size: 0.7em;
}

#Activités_à_Marseille h3
{
	font-size: medium;
}

.photoEntiere
{
	height: 315px;
	width: 100%;
}


h1
{
	height: 40px;
}

.activite2 img
{
	width: 100%;
	height:150px;
}


.activite3
{
	margin-top: 30px;
}



.activite3 img

{
width: 100%;
height: 100px;
}

.activite4 img
{
	width: 100%;
}

.activite5 img
{
	width: 100%;
	height: 110px;
}

.activite6 img
{
	width: 100%;
	height: 140px;
}
.activite6 
{
    margin-top: 30px;
}


#contener
{
	background-color: #f2f2f2
}

.nos_hebergements
{
	margin-left:160px ;
}

.h3
{
	font-size: medium;
}

footer
{
	padding-top: 25px;
}

.marseille_france
{
	height: 40px;
	display: flex;
}

.marseille_france input
{
	height: 33px;
	width: 255px;

}

.logo-gps {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
	border-radius: 15px 00 00 15px;

}
.logo-gps i
{
	color: black;
}
.nom_activite 
{
    height: 30px;
    display: flex;
    align-items: center;
	padding-left: 15px;
}